<!DOCTYPE html>
<html ng-app="tfadmin">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>index</title>
<!-- <link rel="stylesheet" href="/webjars/bootstrap/3.3.6/css/bootstrap.css"> -->
<link href="app-content/css/bootstrap.min.css" rel="stylesheet">
<link href="app-content/css/createUserStyle.css" rel="stylesheet">
<link href="app-content/css/divisionAssignment.css" rel="stylesheet">
<link href="app-content/css/style.css" rel="stylesheet">
<link href="app-content/css/common.css" rel="stylesheet">
<link href="app-content/css/login.css" rel="stylesheet">
<link href="app-content/css/machineassignment.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/angular-datatables/0.5.4/css/angular-datatables.css" rel="stylesheet">
<link href="app-content/css/custmgmt.css" rel="stylesheet">
<link href="app-content/css/addressassign.css" rel="stylesheet">
<link href="app-content/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="app-content/css/viewUser.css" rel="stylesheet">
<link href="app-content/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>

		<div class="row">
			<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="container-fluid">
					<div class="navbar-header col-sm-10">
						<a class="navbar-brand" href="#"><span class="glyphicon glyphicon-align-justify"></span> </a>
					</div>
					<div class="col-sm-2 smallbtn logout-btn">
					<button type="button" class="btn btn-default btn-sm">
						<span class="glyphicon glyphicon-log-out"></span> Log out
					</button>
				</div>
				</div>
			</nav>
		</div>
		
		
	<div ui-view class="bodycontent"></div>


	<div>
		<nav class="navbar navbar-inverse navbar-fixed-bottom">
			<div class="container-fluid">
				<div class="navbar-header"> 
      		</div>
		</div>
		</nav>
	</div>
	<!-- <script src="/webjars/angularjs/1.4.9/angular.js"></script>	
	<script src="/webjars/angular-ui-router/1.0.0-alpha.5/angular-ui-router.js"></script> -->

	<script type="text/javascript" src="app-content/js/jquery.min.js"></script>
	<script src="app-content/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="app-content/js/angular.js"></script>
	<script src="app-content/js/angular-datatables.min.js"></script>
	<script type="text/javascript"
		src="app-content/js/angular-ui-router.js"></script>
	<script type="text/javascript" src="app-content/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="app/app.js"></script>
	<script type="text/javascript" src="app/genericservice.js"></script>
	<script type="text/javascript"
		src="app/partial/usermanagement/usermanagement.js"></script>
	<script type="text/javascript"
		src="app/partial/usermanagement/login/login.js"></script>
	<script type="text/javascript"
		src="app/partial/usermanagement/addressassignment/addressassignment.js"></script>
	<script type="text/javascript"
		src="app/partial/usermanagement/customerassignment/customerassignment.js"></script>
	<script type="text/javascript"
		src="app/partial/usermanagement/dashboard/dashboard.js"></script>
	<script type="text/javascript"
		src="app/partial/usermanagement/divisionassignment/divisionassignment.js"></script>
	<script type="text/javascript"
		src="app/partial/usermanagement/divisionassignment/divisionJavaScript.js"></script>
	<script type="text/javascript"
		src="app/partial/usermanagement/groupassignment/groupassignment.js"></script>
	<script type="text/javascript"
		src="app/partial/usermanagement/machineassignment/machineassignment.js"></script>
	<script type="text/javascript"
		src="app/partial/usermanagement/roleassignment/roleassignment.js"></script>
	<script type="text/javascript"
		src="app/partial/usermanagement/user/user.js"></script>
	<script type="text/javascript"
		src="app/partial/usermanagement/user/createuser/createuser.js"></script>
	<script type="text/javascript"
		src="app/partial/usermanagement/user/viewuser/viewuser.js"></script>		
    <script src="app-content/js/jquery.spring-friendly.js"></script>
    <script type="text/javascript" src="app/partial/usermanagement/user/updateuser/updateuser.js"></script>
    
</body>
</html>