/*
* This style sheet is used for new user registration page
*
*@author Narasingha Padhi
*/

.gap{
	margin-top: 60px;
}
p.RegistrationHeading {
	text-align: center;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 23px;
	/* color: #FF5291; */
}

hr.re {
	border: ipx solid grey;
	height: 1px;
	background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}
label{
	font-size: 16px;
	color: #000000;
	font-weight: normal;
}
#notes{
	 resize: vertical;
	 height: 85px;
}
/*TO BE CORRECTED LATER*/
#mobile{
	    width: 439px;
}
 
#fName, #mName, #lName, #uName, #uEmail, #mobile, #company, #userDivision
	{
	border-radius: 0;
}

.newUserPageButtons {
	width: 5em;
	line-height: 1.5;
	font-size: 20px;
	/* font-weight: bold;  */
	justify-content: center;
}

.regdPageBtnPosition {
	text-align: center;
}

em {
	color: #333;
}
.error{
	color: red;
	/* margin-top: -20px; */
}
/* .form-control{
	margin-bottom: 20px;
} */
