@CHARSET "UTF-8";

.searchForm {
	border-style:solid;
	border-color:gray;
	border-width: 1px;
}

.btnPosition {
	text-align: right;
	margin-right: 15px;
}

#cust_name, #cust_no, #bill_to, #add1, #city, #state, #postal,
	#searchKey, #ser {
	border-radius: 0px;
	-webkit-appearance: none;
}

.btn-space {
    margin-right: 5px;
}

.btn1 {
  width: 130px;
}